{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  h2 {
    text-align: center;
    font-size: 1.9em;
    font-weight: normal;
  }

  #section2 {
    margin: auto;
    width: 50%;

  }

</style>

<section>
<h2>We always welcome feedback. Please feel free to leave us any comments on your recent dining experience;
  take-out experience; suggestions for our menu, or any other comments you wish to make.</h2>
  </section>
  <section id="section2">
    <form action="/comments/" method="post">
        {% csrf_token %}
         {{form.as_p}}
         <input type="submit" value="Submit">
    </form>

    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}

  </section>
{% endblock %}